/* Hace que el padding y el border
no aumenten el tamaño total de los elementos */
* {
  box-sizing: border-box;
}

/* Activa un scroll suave al navegar
entre secciones con href="#id" */
html {
  scroll-behavior: smooth;
}

/* Estilos generales del body */
body {
  margin: 0; /* Quita márgenes blancos del navegador */
  
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  /* Fuente principal de toda la web */

  background: #ffffff;
  /* Color de fondo general */

  color: #08060d;
  /* Color de texto general */
}

/* Estilos globales para enlaces */
a {
  text-decoration: none;
  /* Quita el subrayado */

  color: inherit;
  /* Hace que el enlace herede el color del padre */
}

/* Hace que todos los botones
usen la misma fuente que el resto de la web */
button {
  font-family: inherit;
}

/* Hace las imágenes responsive */
img {
  max-width: 100%;
  /* Evita que la imagen se salga del contenedor */

  display: block;
  /* Elimina espacios raros debajo de las imágenes */
}

/* Contenedor principal donde React renderiza toda la app */
#root {
  width: 100%;
  /* Ocupa todo el ancho */

  min-height: 100vh;
  /* Altura mínima de toda la pantalla */
}